body{
    background-color: rgb(172, 211, 245);
}
img{
    height: 200px;
    width: 400px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

header{
    background-color:  rgb(138, 197, 248);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between; 
}

.sectoon-content{
    max-width: var(--side-max-widht);
}
ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 20px;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

   



.nav{
    color: var(--white-color);
    padding: 10px 18px;
    border-radius: var(--boder-radius-m);
    font-size: var(--font-sieze-m); 
    transition: 0.3s ease;
    color: var(--white-color);
    font-size: var(--font-sieze-xl);
    font-weight: var(--font-weight-semibold);
    background: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    gap: 20px;
}

.logotexte{
     font-size: 3.2rem;
}
